import type { {{pascalCase name}}Props } from './misc';
import * as S from './styles';

function {{pascalCase name}}({ ...props }: {{pascalCase name}}Props) {
  const { foo } = props;

  return (
    <S.Container>
      <h1>{{pascalCase name}}</h1>
      <p>{foo}</p>
    </S.Container>
  );
}

export default {{pascalCase name}};
